<a href="#journey" id="experience">Click here to know my Journey!</a>

<div class="home-container-header">
  <div class="home-container-header-image"></div>
  <div class="home-container-header-options">
    <a href="#education">
      <i class="fas fa-graduation-cap"></i><span>education</span>
    </a>
    <a href="#skills"><i class="fas fa-cogs"> </i> <span>skills</span></a>
    <a href="#projects"> <i class="fas fa-code"></i> <span>projects</span></a>
    <a href="#contact"> <i class="fas fa-envelope"></i> <span>contact</span></a>
  </div>
</div>
