<div class="theme">
  <button id="theme">
    <i class="switch-theme fas fa-moon"></i><span>Lights Off</span>
  </button>
</div>
<div class="info">
  <h4>Hey there, I'm</h4>
  <h1>BalaShekhar (bala)</h1>
  <h4>
    A Ruby developer
    <a target="_blank" href="https://moneyforward.com/">@Money Forward</a> ||
    2022 <a href="https://www.iitism.ac.in/">IIT ISM Dhanbad</a> graduatee ||
    <br />
    and A Competative Programmer
  </h4>
  <div>
    <!-- TODO add blog link -->
    <!-- <a target="_blank" href="https://github.com/BALASHEKHAR"
      ><i style="color: #000; background-color: #fff" class="fab fa-github"></i
    ></a> -->
    <a target="_blank" href="https://github.com/BALASHEKHAR"
      ><i style="color: #000; background-color: #fff" class="fab fa-github"></i
    ></a>
    <a
      target="_blank"
      href="https://www.linkedin.com/in/balashekhar-kamandla-a91058199/"
      ><i
        style="color: #3066c0; background-color: #fff"
        class="fab fa-linkedin-in"
      ></i
    ></a>
    <a
      target="_blank"
      href="https://mail.google.com/mail/?view=cm&fs=1&to=kamandlabalashekhar@gmail.com&su=&cc=&bcc=&body="
      ><i
        style="color: #c91995; background-color: #fff"
        class="fas fa-envelope"
      ></i
    ></a>
  </div>
  <!-- TODO: Add resume link -->
  <a target="_blank" href="_" class="footer-button"
    ><button><i class="fas fa-file-download"></i> Download Resume</button></a
  >
</div>
<div class="imag">
  <img
    class="gradient-transparent"
    src="../../assets/images/main_info/bala_bg.png"
  />
</div>
