<div class="aboutme-wrapper">
  <div
    data-aos="zoom-out-right"
    data-aos-offset="100"
    data-aos-delay="100"
    class="aboutme-img"
  >
    <img src="../../assets/images/about_me/man_with_pen.png" />
  </div>
  <div data-aos="fade-up" data-aos-offset="100" class="aboutme-text">
    <h2>About Me</h2>
    <p>
      Hi, I'm Bala, a Rails Developer, currently working at Money Forward in
      Tokyo(2022 - present).<br />
      I graduated from IIT ISM Dhanbad. During college, I gained experience in
      competitive programming and worked on Android and web-based projects to
      get hands-on practice. <br />
      Now, I specialize in building and improving ID services, acting as an
      Identity Provider (IDP) for all services at Money Forward. This has given
      me hands-on experience with technologies like OAuth, OpenID, SAML, and
      Passkeys. <br />
      <br />
      Some of my key skills include Ruby, Node.js, Go, React, Js, Android
      Studio, and authentication technologies. Recently, I’ve been exploring
      DevOps tools and practices to enhance my skill set. <br />

      Adapting to life and work in Japan has been a great experience, both
      professionally and personally. In my free time, I like playing badminton,
      cycling, and watching anime.
      <br />
      As a software engineer, I aim to solve real-world problems, create
      seamless user experiences, and drive business value. <br /><br />
      Feel free to reach out to me via
      <a
        target="_blank"
        href="https://www.linkedin.com/in/balashekhar-kamandla-a91058199/"
        >LinkedIn</a
      >
    </p>
  </div>
</div>
