<div class="aboutme-wrapper">
  <div
    data-aos="zoom-out-right"
    data-aos-offset="100"
    data-aos-delay="100"
    class="aboutme-img"
  >
    <img src="../../assets/images/about_me/me.png" />
  </div>
  <div data-aos="fade-up" data-aos-offset="100" class="aboutme-text">
    <h2>About Me</h2>
    <p>
      Currently working as an ID Developer at Money Forward, Tokyo. I build and maintain secure authentication and authorization systems using OAuth2.0, OpenID, Passkeys and SAML SSO. I also lead development on key microservices that support B2B offerings, handling things from implementation to deployment, infrastructure, and monitoring.
      <br />
      <br />
      Alongside that, I’ve been involved in DevOps and some SRE-related improvements, including security strengthening, AWS, and performance tuning. I’m especially interested in authentication, authorization, and SSO and enjoy working on systems where security and user experience go hand in hand.
      <br /><br />
      Always happy to connect, 👋 feel free to reach out via
      <a
        target="_blank"
        href="https://www.linkedin.com/in/balashekhar-kamandla-a91058199/"
        >LinkedIn!</a
      >
    </p>
  </div>
</div>
