<div class="aboutme-wrapper">
  <div
    data-aos="zoom-out-right"
    data-aos-offset="100"
    data-aos-delay="100"
    class="aboutme-img"
  >
    <img src="../../assets/images/about_me/man_with_pen.png" />
  </div>
  <div data-aos="fade-up" data-aos-offset="100" class="aboutme-text">
    <h2>About Me</h2>
    <p>
      Currently an ID Developer at Money Forward, Tokyo. I design and implement
      secure authentication and authorization solutions using OAuth2.0, OpenID,
      SAML, and Passkeys. Also involved in working on various microservices for
      B2B solutions, improving development processes, code, and test cases.
      <br />
      <br />
      I also have some experience in DevOps and SRE optimizations. I’m
      passionate about building robust, secure systems focused on
      authentication, authorization, and SSO security.
      <br /><br />
      Feel free to reach out to me via
      <a
        target="_blank"
        href="https://www.linkedin.com/in/balashekhar-kamandla-a91058199/"
        >LinkedIn</a
      >
    </p>
  </div>
</div>
