<div class="footer-des">
  <i class="fas fa-code"></i> code by bala
  <span>
    <br />
  </span>
  <i class="fas fa-envelope"></i> kamandlabalashekhar@gmail.com
</div>
<div class="snackbar" id="move">
  <img src="../../assets/images/header/meWink.png" alt="" />
  <div>
    Hey! I've got your message.
    <br />
    Thanks, I'll get back to you.
  </div>
</div>
<span class="footer-contact">
  <i class="fas fa-mobile"></i>+91 6303395354
  <span>
    <br />
  </span>
  <span
    >This is
    <a href="https://github.com/baala3/portfolio">self-made project</a>
    created during my college days🎈</span
  >
</span>
