<div data-aos="zoom-in-up" data-aos-offset="50" class="form-img-wrapper">
  <img src="../../assets/images/contact/how_u_doing.png" />
</div>
<div data-aos="fade-left" class="form-details">
  <div class="form-details-wrapper">
    <form method="POST" id="formid">
      <div class="form-name">
        <input
          required="true"
          type="text"
          placeholder="First Name"
          name="FirstName"
          id="FirstName"
        />
        <input
          type="text"
          placeholder="Last Name"
          name="LastName"
          id="LastName"
        />
      </div>
      <input type="email" placeholder="Email" name="email" id="email" />
      <input
        type="text"
        placeholder="What's it about?"
        name="contentType"
        id="contentType"
      />
      <textarea
        type="text"
        placeholder="Message"
        name="description"
        id="description"
      ></textarea>
      <button id="submitform">
        <i class="fa fa-paper-plane" aria-hidden="true"> Send Message</i>
      </button>
    </form>
  </div>
</div>
