<div class="experience-container">
  <div data-aos="fade-up" id="start" class="experience-container-details">
    <h2>Experience</h2>
    <a id="startJ"><i class="fas fa-play"></i> View Journey</a>
    <p>
      <b>Tip:</b> Use the left and right arrow keys to move the car once you
      click on the button above.
    </p>
  </div>
  <div
    data-aos="fade-down"
    id="train"
    class="animate_animated animate_bounceInDown experience-container-train"
  >
    <div
      id="trainImg"
      class="main-train"
      style="background-position: 0px; transition: 0.5s ease"
    >
      <div class="carJ">
        <img src="../../assets/images/journey/zeep.png" alt="" />
      </div>
      <button id="closeJ" class="e-close">
        <i class="fas fa-times"></i> close
      </button>
      <button id="leftJ" class="e-left">
        <i class="fas fa-arrow-circle-left"></i>
      </button>
      <button id="rightJ" class="e-right">
        <i class="fas fa-arrow-circle-right"></i>
      </button>
    </div>
  </div>

  <div
    id="bubble"
    data-aos="fade-up"
    data-aos-offset="-200"
    class="experience-container-bubbles"
  >
    <div
      data-aos="fade-right"
      data-aos-offset="-200"
      data-aos-duration="0"
      class="e-1"
    ></div>
    <div
      data-aos="fade-up-right"
      data-aos-offset="-200"
      data-aos-duration="0"
      class="e-2"
    ></div>
    <div
      data-aos="fade-up"
      data-aos-offset="-200"
      data-aos-duration="0"
      class="e-3"
    ></div>
    <div
      data-aos="zoom-in-up"
      data-aos-offset="-200"
      data-aos-duration="0"
      class="e-4"
    ></div>
    <div
      data-aos="zoom-in-up"
      data-aos-offset="-200"
      data-aos-duration="0"
      class="e-5"
    ></div>
    <div
      data-aos="fade-up"
      data-aos-offset="-200"
      data-aos-duration="0"
      class="e-6"
    ></div>
    <div
      data-aos="fade-up-left"
      data-aos-offset="-200"
      data-aos-duration="0"
      class="e-7"
    ></div>
    <div
      data-aos="fade-left"
      data-aos-offset="-200"
      data-aos-duration="0"
      class="e-8"
    ></div>
    <div
      data-aos="fade-up"
      data-aos-offset="-200"
      data-aos-duration="0"
      class="e-9"
    ></div>
    <div
      data-aos="fade-up"
      data-aos-offset="-200"
      data-aos-duration="0"
      class="e-10"
    ></div>
    <div
      data-aos="fade-up"
      data-aos-offset="-200"
      data-aos-duration="0"
      class="e-11"
    ></div>
    <div
      data-aos="fade-up"
      data-aos-offset="-200"
      data-aos-duration="0"
      class="e-12"
    ></div>
    <div
      data-aos="fade-up"
      data-aos-offset="-200"
      data-aos-duration="0"
      class="e-13"
    ></div>
    <div
      data-aos="fade-up"
      data-aos-offset="-200"
      data-aos-duration="0"
      class="e-14"
    ></div>
    <div
      data-aos="fade-up"
      data-aos-offset="-200"
      data-aos-duration="0"
      class="e-15"
    ></div>
  </div>
</div>
