<!-- <div data-aos="fade-up"  class="project-main2">
<div class="project-img2">
      <img src="../../assets/images/projects/mobile.png" alt=""></div>
      <div class="projects-container1">

      
      <div class="pro-desc">
        <h2>Covid Resources Point</h2>
        <br>
        <p>
          The Covid Resources website gives users a platform to put up covid resources leads. In addition to that, users can also post resource requests and has Covid care guides, important links and google authentication for login. The server updates the data on its own every 36 hours and keeps track of users who are reported for inappropriate activities or those who are not responding and takes action accordingly.
        </p>
      </div>
      <div class="pro-navi">
        <a href="#">open website</a>
        <a href="#">Git Repo</a>
        </div>
      </div>
      </div> -->

<div class="projects-container">
  <h2 data-aos="fade-right" class="pro-heading">Projects</h2>
  <div class="project-main">
    <div data-aos="fade-right" class="projects-container1">
      <div class="pro-buttons">
        <i id="web-left" class="fas fa-arrow-circle-left"></i>
        <i id="web-right" class="fas fa-arrow-circle-right"></i>
      </div>

      <div id="web-body" class="pro-desc">
        <h2>Food Waste Management</h2>
        <br />
        <p>
          Food Waste Management is a full stack web application that enable user
          to login and post the food availability in their areas or known
          location. And any one to see the post from other people and able to
          track the location and directions from their current location. Tech
          Stack used: MongoDB, (Mongoose), Node.js, React, Express,Material-UI,
          Mapbox-gl, ftp-mail, JWT (Authentication), Redux, (React-Redux),
          React-swipeable-views
        </p>
      </div>
      <div id="web-button" class="pro-navi">
        <a href="https://food-waste-managements.netlify.app/#/" target="_blank"
          >open website</a
        >
        <a
          href="https://github.com/BALASHEKHAR/food-waste-management-client"
          target="_blank"
          >Git Repo</a
        >
      </div>
    </div>

    <div data-aos="fade-left" class="project-img">
      <img
        class="img-a"
        src="../../assets/images/projects/118-1185326_computer-frames-for-youtube-videos-png.png"
        alt=""
      />
      <img
        id="web-img"
        class="img-b"
        src="../../assets/images/projects/foodwaste.png"
        alt=""
      />
    </div>
  </div>

  <div class="project-main2">
    <div data-aos="fade-left" class="project-img2">
      <img
        id="dark-back-img2"
        class="img-a2"
        src="../../assets/images/projects/Subtract.png"
        alt=""
      />
      <img
        id="android-img"
        class="img-b2"
        src="../../assets/images/projects/app0.png"
        alt=""
      />
    </div>
    <div data-aos="fade-right" class="projects-container1">
      <div class="pro-buttons">
        <i id="android-left" class="fas fa-arrow-circle-left"></i>
        <i id="android-right" class="fas fa-arrow-circle-right"></i>
      </div>
      <div id="android-body" class="pro-desc">
        <h2>More to Store</h2>
        <br />
        <p>
          More-To-Store is an app where you can buy items like flipkart,
          Amazon.Technologies used:Firebase Libraries(Realtime
          database,storage,Authentication),Android Architecture components(View
          Pager,Recycler withmultiple Items). Architecture used:MVC
        </p>
      </div>
      <div id="android-button" class="pro-navi">
        <a
          target="_blank"
          href="https://appetize.io/app/q1edkvrn3p9r3g13x8h0qx5904?device=nexus5&scale=75&orientation=portrait&osVersion=8.1"
          >open website</a
        >
        <a target="_blank" href="https://github.com/BALASHEKHAR/moreToStore"
          >Git Repo</a
        >
      </div>
    </div>
  </div>
</div>
