<div class="projects-container">
  <h2 data-aos="fade-right" class="pro-heading">Projects</h2>
  <div class="project-main">
    <div data-aos="fade-right" class="projects-container1">
      <div class="pro-buttons">
        <i id="web-left" class="fas fa-arrow-circle-left"></i>
        <i id="web-right" class="fas fa-arrow-circle-right"></i>
      </div>

      <div id="web-body" class="pro-desc">
        <h2>Loading...</h2>
        <br />
        <p>Loading project details...</p>
      </div>
      <div id="web-button" class="pro-navi">
        <a href="#" target="_blank">open website</a>
        <a href="#" target="_blank">Git Repo</a>
      </div>
    </div>

    <div data-aos="fade-left" class="project-img">
      <img
        class="img-a"
        src="../../assets/images/projects/118-1185326_computer-frames-for-youtube-videos-png.png"
        alt=""
      />
      <img
        id="web-img"
        class="img-b"
        src="../../assets/images/projects/placeholder.png"
        alt="Loading..."
      />
    </div>
  </div>

  <div class="project-main2">
    <div data-aos="fade-left" class="project-img2">
      <img
        id="dark-back-img2"
        class="img-a2"
        src="../../assets/images/projects/Subtract.png"
        alt=""
      />
      <img
        id="android-img"
        class="img-b2"
        src="../../assets/images/projects/placeholder.png"
        alt="Loading..."
      />
    </div>
    <div data-aos="fade-right" class="projects-container1">
      <div class="pro-buttons">
        <i id="android-left" class="fas fa-arrow-circle-left"></i>
        <i id="android-right" class="fas fa-arrow-circle-right"></i>
      </div>
      <div id="android-body" class="pro-desc">
        <h2>Loading...</h2>
        <br />
        <p>Loading project details...</p>
      </div>
      <div id="android-button" class="pro-navi">
        <a href="#" target="_blank">open website</a>
        <a href="#" target="_blank">Git Repo</a>
      </div>
    </div>
  </div>
</div>
