<div class="education-container">
  <h2 data-aos="zoom-in-down">Education</h2>
  <div class="edu-outer">
    <div data-aos="fade-right" class="edu-inner1">
      <div class="edu-inner1-imge"></div>
      <div class="edu-inner1-head">
        ZPHS Raghunathpur(SSC) <br />
        Narayana Junior College (MPC)
      </div>
      <div class="edu-inner1-desc">
        Completed my schooling in ZPHS Raghunathpur and trained for JEE Advanced
        exam in Narayana Jr college
      </div>
      <div class="edu-inner1-text-progree-1">SSC 10th</div>
      <div style="display: flex; height: 20px">
        <div class="edu-inner1-progress-1"></div>
        <div class="percent">95.0%</div>
      </div>

      <br />
      <div class="edu-inner1-text-progree-2">Intermediate</div>
      <div style="display: flex; height: 20px">
        <div class="edu-inner1-progress-2"></div>
        <div class="percent">92.8%</div>
      </div>
      <div class="edu-inner-1-footer">
        <span style="font-size: 16px; font-weight: 800"> Student of </span
        ><br />Mathematics ,Physics, Chemistry, & Computer Science
      </div>
    </div>
    <div data-aos="fade-left" class="edu-inner2">
      <div class="edu-inner1-imge edu-inner2-imge"></div>
      <div class="edu-inner1-head">
        Indian Institue of Technology Dhanbad (ISM) BTech (ECE)
      </div>
      <div class="edu-inner1-desc">
        IIT ISM Dhanbad is a public technical and research university located in
        Dhanbad,Jharkhand,India
      </div>

      <div class="graph">
        <div>
          <div>1</div>
          <div class="a a1"><span id="mySpan">8.04</span></div>
        </div>
        <div>
          <div>2</div>
          <div class="a a2"><span id="mySpan">8.65</span></div>
        </div>
        <div>
          <div>3</div>
          <div class="a a3"><span id="mySpan">9.17</span></div>
        </div>
        <div>
          <div>4</div>
          <div class="a a4"><span id="mySpan">9.61</span></div>
        </div>
        <div>
          <div>5</div>
          <div class="a a5"><span id="mySpan">7.83</span></div>
        </div>
        <div>
          <div>6</div>
          <div class="a a6"><span id="mySpan">7.30</span></div>
        </div>
        <div>
          <div>7</div>
          <div class="a a7"><span id="mySpan">7.10</span></div>
        </div>
        <div>
          <div>8</div>
          <div class="a a8"><span id="mySpan">7.26</span></div>
        </div>
      </div>
      <div class="hr"></div>
      - Semesters to GPA graph -
      <div class="edu-inner-1-footer">
        <span style="font-size: 16px; font-weight: 800"
          >BTech. Software Engineering</span
        ><br />CGPA : 8.12
      </div>
    </div>
  </div>
</div>
